<footer class="bg-dark text-light text-center text-lg-start mt-auto border-top border-secondary" id="piePagina">
    <div class="container p-4">
        <div class="row">

            <!-- Contacto -->
            <address class="col-md-4 text-md-start mb-3 mb-md-0">
                <h5>Contacto</h5>
                <hr class="bg-light">
                <p>Teléfono: +34 663 733 079</p>
                <p>Email: <a class="text-light" href="mailto:jmilladev&#64;gmail.com">jmilladev&#64;gmail.com</a></p>
                <p>Dirección: IES Las Fuentezuelas, Jaén</p>
            </address>

            <!-- Mensaje central -->
            <div class="col-md-4 text-center">
                <h5>© 2025 Comparking</h5>
                <p>Tu app para compartir aparcamientos.</p>
                <p>Haz click <a class="highlighted-text" href="https://jmilladev.web.app/" target="_blank">aquí</a> para visitar el portfolio de jmilladev.</p>
            </div>

            <!-- Redes sociales -->
            <div class="col-md-4 text-center">
                <h5>Síguenos</h5>
                <hr class="bg-light">
                <div class="d-flex justify-content-center gap-3 mt-2">
                    <a href="https://www.linkedin.com/in/jes%C3%BAs-milla-cabrera/" target="_blank" aria-label="Linkedin">
                        <img src="icons/linkedin.png" alt="Facebook" width="36" height="36">
                    </a>
                    <a href="https://www.instagram.com/jmilladev" target="_blank" aria-label="Instagram">
                        <img src="icons/instagram.png" alt="Instagram" width="36" height="36">
                    </a>
                    <a href="https://x.com/jmilladev" target="_blank" aria-label="Twitter">
                        <img src="icons/x.png" alt="Twitter" width="36" height="36">
                    </a>
                    <a href="https://github.com/jmilcab353" target="_blank" aria-label="Github">
                        <img src="icons/github.png" alt="YouTube" width="36" height="36">
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>