# === Java/Maven/Spring Boot ===
*.class
*.jar
*.war
*.log
*.tmp
*.swp
*~

target/
generated/
build/
.gradle/
out/

# === IDEs ===
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# === Sistema Operativo ===
.DS_Store
Thumbs.db

# === Configuración y entorno ===
.env
/config/
*.local.properties
Dependencies.toml
Config.toml

# === Testing y cobertura ===
/test-output/
/surefire-reports/
/jacoco.exec

# === DevTools de Spring Boot ===
.spring-boot-devtools.properties