.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

#modal-pdf {
    position: relative;
    top: 30%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}

#modal-items {
    position: relative;
    top: 10%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}