<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="comparking-box text-center p-5 w-100 not-found-box">
        <i class="bi bi-exclamation-triangle-fill text-primary fs-1"></i>
        <h1 class="display-1 font-monospace mt-3">404</h1>
        <p class="font-monospace">Página no encontrada</p>
        <button class="btn btn-primary" (click)="goHome()">
            <i class="bi bi-house-door me-2"></i>Volver al inicio
        </button>
    </div>
</div>